<p id="notice" value="<%= notice %>"></p>
<div class="container mt-5 pt-5">
  <div class="col-sm-12">
    <div class="list-group">
      <div class="list-group-item list-group-item-action active">
        <div class="row">
          <div class="col">
            <h5>
              <i class="fa fa-solid fa-edit f-2" style="color:#fff;""></i>
              Upload your displays
            </h5>
          </div>
        </div>
      </div>
      <div class="list-group-item bg-dark bg-gradient text-light">
        <%= render 'form', display: @display %>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3">
    <%= link_to 'Show', @display, class:"btn btn-outline-secondary text-light" %>
    <%= link_to 'Back', displays_path, class:"btn btn-outline-secondary text-light" %>
  </div>
</div>
<script type="text/javascript">
  var cookieValue = document.getElementById('notice').getAttribute('value');
  if (cookieValue === "Display was successfully updated."){
    sweetAlert(cookieValue);
  }
</script>
