<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" style="background: url(/assets/google-datacenter-tape-library-wallpaper-preview.jpg);background-position: center;background-size: cover;border-radius: 15px 0px 0px 15px;">
              <br /><br /><br /><br /><br />
              <%= image_tag url_for(@display.logo), class:"img-fluid rounded d-block mx-auto mt-5", style:"width:auto; height:10rem;" %>
            </div>
            <%= render 'form', title:'Log In' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
