<div class="container mt-5 pt-5">
  <div class="col-sm-12">
    <div class="list-group">
      <div class="list-group-item list-group-item-action active">
        <div class="row">
          <div class="col">
            <h1>
              <i class="fa fa-solid fa-server f-2" style="color:#fff;""></i>
              Editing SWITCH
            </h1>
          </div>
        </div>
      </div>
      <div class="list-group-item bg-dark bg-gradient text-light">
        <%= render 'form', ssm: @ssm %>
      </div>
    </div>
  </div>
</div>
